/*--------------------
min-width 1000px
---------------------*/

@media screen and (min-width: 1000px) {
  .nav-bar {
    font-size: larger;
  }
}

@media screen and (min-width: 1000px) {
  .exhibition-btn {
    font-size: 35px;
    width: 355px;
    height: 85px;
    transform: translate(85%, 0);
  }
}

@media screen and (min-width: 1000px) {
  .museum-logo img {
    width: 650px;
    height: auto;
    margin-left: 140px;
  }
}

@media screen and (min-width: 1000px) {
  h5 {
    font-size: 28px;
  }
}
