/*-------------------
min-width 600px
---------------------*/

@media screen and (min-width: 600px) {
  .exhibition-btn {
    font-size: 24px;
    width: 250px;
    height: 55px;
    transform: translate(60%, 0);
  }

  .exhibition-btn:hover {
    background-color: rgba(212, 143, 1, 1);
  }

  .exhibition-btn a:hover {
    color: white;
  }
}

@media screen and (min-width: 600px) {
  .explore-btn {
    font-size: 24px;
    width: 250px;
    height: 55px;
    transform: translate(55%, 0);
    transition: 0.5s;
  }

  .explore-btn:hover {
    background-color: white;
  }

  .explore-btn a:hover {
    color: rgba(212, 143, 1, 1);
  }
}

@media screen and (min-width: 600px) {
  .museum-logo img {
    width: 460px;
    height: auto;
    margin-left: 45px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
