:root {
  --orange: rgba(224, 151, 0, 1);
  --dark-orange: rgba(212, 143, 1, 1);
  --white: #ffffff;
  --black: #000000;
  --scrollbar-thumb: #888;
  --scrollbar-track: #f0f0f0;
}
/*-------------------------
Exhibitions page styles
--------------------------*/

div.exh-img-row1 {
  width: 370px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
  justify-self: center;
}

.exh-img-row1 img {
  width: 180px;
  height: auto;
}

#VR-img {
  margin-right: -20px;
}

#galileo-img,
#mammoth-img,
#skeleton-img,
#robot-img,
#ecology-img {
  width: 370px;
  height: auto;
  margin-bottom: 60px;
  justify-self: center;
}

.exh-img-row2 {
  margin-bottom: 20px;
  margin-left: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.exh-img-row2 p {
  width: 165px;
  text-align: start;
  margin-top: 28px;
  margin-left: 18px;
}

.exh-img-row2 p b {
  font-size: larger;
}

.human-sculpture-img {
  width: 200px;
  height: auto;
  margin-top: 20px;
}

/*----------------
media queries
------------------*/

@media screen and (max-width: 375px) {
  .exh-img-row1 img {
    width: 160px;
    margin-left: -8px;
    justify-self: center;
  }

  #galileo-img,
  #mammoth-img,
  #skeleton-img,
  #robot-img,
  #ecology-img {
    width: 100vw;
    height: auto;
  }

  .human-sculpture-img {
    width: 180px;
    height: auto;
  }

  .exh-img-row2 p {
    width: 150px;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 15px;
  }
}

@media screen and (min-width: 400px) {
  #VR-img {
    margin-right: 10px;
  }
}

@media screen and (min-width: 600px) {
  div.exh-img-row1 {
    width: 450px;
  }

  .exh-img-row1 img {
    width: 220px;
    height: auto;
  }

  #galileo-img,
  #mammoth-img,
  #skeleton-img,
  #robot-img,
  #ecology-img {
    width: 550px;
    height: auto;
  }
}

@media screen and (min-width: 800px) {
  .human-sculpture-img {
    width: 260px;
    height: auto;
  }

  .exh-img-row2 p {
    margin-top: 14px;
    margin-left: 25px;
  }

  .biologyIMG-paragraph {
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px) {
  div.exh-img-row1 {
    width: 710px;
  }

  .exh-img-row1 img {
    width: 300px;
    height: auto;
  }

  #VR-img {
    margin-right: 100px;
  }

  div.exh-img-row2 {
    margin-left: 140px;
  }

  .human-sculpture-img {
    width: 350px;
    height: auto;
  }

  .biologyIMG-paragraph {
    font-size: 22px;
  }

  .exh-img-row2 p {
    margin-top: 65px;
    margin-left: 10px;
  }

  #galileo-img,
  #mammoth-img,
  #skeleton-img,
  #robot-img,
  #ecology-img {
    width: 850px;
    height: auto;
  }
}
