/*------------
Global styles
----------------*/

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: ;
}

* {
  text-decoration: none;
}

nav li {
  list-style-type: none;
  display: inline;
  margin-left: 20px;
  color: black;
}

nav li:hover {
  color: blue;
}

#current li {
  color: blue;
}
