/*------------------------------
Global styles and page specific
--------------------------------*/

@import url(common-media>600.css);
@import url(common-media>1000.css);

/*-----------------------------------------------------------------
Page specific media queries are located underneath each page styles
--------------------------------------------------------------------*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: ;
}

* {
  text-decoration: none;
}

footer {
  position: relative;
  text-align: center;
  margin-top: 20px;
  color: rgba(224, 151, 0, 1);
}

footer h5 {
  font-weight: 100;
}

.nav-bar {
  text-align: center;
}

nav li {
  list-style-type: none;
  display: inline;
  margin-right: 40px;
  color: black;
}

nav li:hover {
  color: rgba(224, 151, 0, 1);
}

#current li {
  color: rgba(224, 151, 0, 1);
}

.title-h1 h1 {
  padding: 15px;
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
  color: white;
  background-color: rgba(212, 143, 1, 1);
}

.exhibition-btn {
  font-size: 18px;
  width: 200px;
  height: 40px;
  background-color: white;
  border: 1.5px solid rgba(212, 143, 1, 1);
  border-radius: 8px;
  transform: translate(45%, 0);
  margin-top: 50px;
  margin-bottom: 50px;
  transition: 0.5s;
}

.exhibition-btn a {
  color: rgba(212, 143, 1, 1);
}

.explore-btn {
  font-size: 18px;
  width: 200px;
  height: 40px;
  background-color: rgba(212, 143, 1, 1);
  border: 1.5px solid rgba(212, 143, 1, 1);
  border-radius: 8px;
  transform: translate(42%, 0);
  margin-top: 50px;
  margin-bottom: 50px;
}

.explore-btn a {
  color: white;
}

.museum-logo img {
  position: relative;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

h5 {
  position: relative;
  text-align: center;
}

.main-section {
  justify-content: center;
  display: grid;
  margin: 5px;
}

/*----------------------
home | page styles
----------------------*/

/*------ Carousel-slider ---------------------*/

.carousel-slider {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel-slider img {
  width: 100vw;
  height: auto;
}

.carousel-slider > div {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
  animation: scroll 10s linear infinite;
}
/*---------------------------------------*/

.home-h1 {
  width: 200px;
  margin-left: 20px;
}

.image1 {
  width: 380px;
  height: auto;
}

.image2,
.image4 {
  width: 380px;
  height: auto;
  margin-top: 50px;
}

.image3 {
  width: 380px;
  height: auto;
  margin-top: 40px;
}

.paragraph1,
.paragraph2,
.paragraph3,
.paragraph4 {
  width: 350px;
  margin-left: 20px;
}

/*----------------------
HOME PAGE media queries
----------------------*/

@media screen and (min-width: 600px) {
  .home-h1 {
    width: 210px;
    font-size: 25px;
  }

  .image1,
  .image2,
  .image3,
  .image4 {
    width: 550px;
    height: auto;
  }

  .paragraph1,
  .paragraph2,
  .paragraph3,
  .paragraph4 {
    width: 500px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .image1,
  .image2,
  .image3,
  .image4 {
    width: 950px;
    height: auto;
  }

  .paragraph1,
  .paragraph2,
  .paragraph3,
  .paragraph4 {
    width: 900px;
    margin-left: 20px;
  }

  .paragraph1 p,
  .paragraph2 p,
  .paragraph3 p,
  .paragraph4 p {
    font-size: 26px;
  }

  .paragraph1 h4,
  .paragraph2 h4,
  .paragraph3 h4,
  .paragraph4 h4 {
    font-size: 28px;
  }
}
/*-------------------------------*/

/*----------------------
About | page styles
----------------------*/

#sub-title {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 300px;
}

#sub-title p {
  text-align: center;
}

.about-img1 img {
  width: 100vw;
  height: auto;
}

.about-img2 img,
.about-img3 img {
  width: 370px;
  height: auto;
  margin-top: 50px;
}

/*----------------END----------------------*/

/*----------------
Visit page
--------------------*/

.visit-img1 {
  margin-top: 20px;
  width: 100vw;
  height: auto;
}

.visit-paragraph1 h5,
.visit-paragraph2 h5,
.visit-paragraph4 h5 {
  text-align: start;
  margin-bottom: -10px;
}

.visit-paragraph1,
.visit-paragraph2,
.visit-paragraph4 {
  text-align: start;
}

.visit-paragraph1,
.visit-paragraph2,
.visit-paragraph3,
.visit-paragraph4,
.visit-paragraph5 {
  width: 310px;
  margin-left: 40px;
  line-height: 1.5;
}

.visit-hours {
  text-align: center;
  line-height: 1.5;
}

.visit-hours h5 {
  margin-bottom: -10px;
}

.visit-paragraph3 h5,
.visit-paragraph5 h5 {
  text-align: end;
  margin-bottom: -10px;
}

.visit-paragraph3,
.visit-paragraph5 {
  text-align: end;
  line-height: 1.5;
}

.visit-paragraph1 {
  margin-bottom: 50px;
}

.visit-paragraph2 {
  margin-top: -15px;
  margin-bottom: 50px;
}

.visit-paragraph3,
.visit-paragraph4,
.visit-paragraph5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.parent-visit-img2 {
  display: grid;
}

.visit-img2 {
  width: 300px;
  height: auto;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.visit-img3 {
  width: 100vw;
  height: auto;
}

/*---------------- END --------------------*/
