@import url(styles.css);
@import url(index.css);
@import url(about.css);
@import url(visit.css);
@import url(explore.css);
@import url(exhibitions.css);

:root {
  --orange: rgba(224, 151, 0, 1);
  --dark-orange: rgba(212, 143, 1, 1);
  --white: #ffffff;
  --black: #000000;
  --scrollbar-thumb: #888;
  --scrollbar-track: #f0f0f0;
}
/*------------------------------------
'Thank you for your inquiery' page styles
---------------------------------------*/
