/*------------------
Visit page
--------------------*/

.visit-img1 {
  margin-top: 20px;
  width: 100vw;
  height: auto;
}

.visit-img4 {
  width: 100vw;
  height: auto;
  margin-bottom: 50px;
}

.visit-paragraph1 h5,
.visit-paragraph2 h5,
.visit-paragraph4 h5 {
  text-align: start;
  margin-bottom: -10px;
}

.visit-paragraph1,
.visit-paragraph2,
.visit-paragraph4 {
  text-align: start;
}

.visit-paragraph1,
.visit-paragraph2,
.visit-paragraph3,
.visit-paragraph4,
.visit-paragraph5 {
  width: 310px;
  margin-left: 40px;
  line-height: 1.5;
}

.viewport-div,
.viewport-div h5 {
  text-align: right;
}
.visit-paragraph3,
.visit-paragraph5 {
  position: relative;
}

.visit-paragraph3 h5,
.visit-paragraph5 h5 {
  margin-bottom: -10px;
}

.visit-hours {
  text-align: center;
  line-height: 1.5;
}

.visit-hours h5 {
  margin-bottom: -10px;
}

.visit-paragraph1 {
  margin-bottom: 50px;
}

.visit-paragraph2 {
  margin-top: -15px;
  margin-bottom: 50px;
}

.visit-paragraph3,
.visit-paragraph4,
.visit-paragraph5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.parent-visit-img2 {
  display: grid;
}

.visit-img2 {
  width: 300px;
  height: auto;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.visit-img3 {
  width: 100vw;
  height: auto;
}

/*---------------- END --------------------*/

/*-----
media queries
-------------*/

@media screen and (min-width: 600px) {
  .visit-img2 {
    width: 400px;
  }
}

@media screen and (min-width: 1000px) {
  .visit-paragraph1 h5,
  .visit-hours h5 {
    font-size: 30px;
  }

  .visit-hours p {
    font-size: 25px;
  }

  .visit-paragraph1,
  .visit-paragraph2,
  .visit-paragraph3,
  .visit-paragraph4,
  .visit-paragraph5 {
    width: 660px;
  }

  .visit-paragraph1 p,
  .visit-paragraph2 p,
  .visit-paragraph3 p,
  .visit-paragraph4 p,
  .visit-paragraph5 p {
    font-size: 25px;
  }

  .visit-img2 {
    width: 650px;
  }
}

@media screen and (min-width: 1400px) {
  .visit-img2 {
    width: 1000px;
  }
}
